body {
  margin: 0;
  display: flex;
  background-color: #999;
}
h1 {
  text-align: center;
  font-style: italic;
  color: aqua;
  font-weight: bold;
  font-size: 3em;
  margin: 0;
  padding: 0.5em;
  position: absolute;
  transform: translateX(-50%);
  top: 1em;
  left: 50%;
  z-index: 1;

  animation-name: wave_txt;
  animation-duration: 3.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
span {
  color: tomato;
  font-size: 1.5em;
  position: absolute;
  bottom: 7em;
  right: 0.5em;
  z-index: 1;
  font-weight: bold;

  transform-origin: 50%;
  animation-name: wave_txt;
  animation-duration: 3.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.poster_section {
  width: 400px;
  background-color: #999;
  display: inline-block;
  perspective: 1000px;

  padding: 2.7em 1em;
}
.poster_section > img {
  /* border: 3px solid #000; */

  display: block;
  margin: 0 auto;
  animation-name: wave;
  animation-duration: 3.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  transform-origin: 50%;
}

@keyframes wave {
  0% {
    transform: rotateY(0turn);
  }
  25% {
    transform: rotateY(0.08turn);
    box-shadow: 3px 0 4px darkolivegreen;
  }
  50% {
    transform: rotateY(0turn);
    box-shadow: none;
  }
  75% {
    transform: rotateY(-0.08turn);
    box-shadow: -3px 0 4px darkolivegreen;
  }
  100% {
    transform: rotateY(0turn);
    box-shadow: none;
  }
}

@keyframes wave_txt {
  0% {
    transform: translateX(-50%) rotateY(0turn);
  }
  25% {
    transform: translateX(-50%) rotateY(0.08turn) translateZ(70px);
    text-shadow: 5px 4px 3px darkolivegreen;
  }
  50% {
    transform: translateX(-50%) rotateY(0turn);
    text-shadow: none;
  }
  75% {
    transform: translateX(-50%) rotateY(-0.08turn) translateZ(70px);
    text-shadow: -5px 4px 3px darkolivegreen;
  }
  100% {
    transform: translateX(-50%) rotateY(0turn);
    text-shadow: none;
  }
}
